/* TODO add feed styles */
.feed {
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
}
p {
    display: inline;
    font-size: 20px;
}

p.house {
    width: 30%;
}

p.region {
    display: inline;
    font-size: 16px;
    color:grey;
    width: 20%;
}