/* TODO add feed styles */
.feed {
    margin-left: 160px;
    padding: 10px;
}

.feed.collapsed{
    margin-left: 0px;
}

.feed.expanded{
    margin-left: 160px;
}

p {
    display: inline;
    font-size: 20px;
}

p.house {
    width: 30%;
}

p.region {
    display: inline;
    font-size: 16px;
    color:grey;
    width: 20%;
}