/* TODO add some general header styles */

.header {
  padding: 10px;
  background-color: #eab64d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header.collapsed {
  margin-left: 0px;
}

.header.expanded {
  margin-left: 160px; /* set equal to width of sidebar */
}

h1 {
  font-family: Charm;
  color: #370003;
}

.filter-button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #930416;
  color: #ffecec;
  border: none;
  font-family: "Song Myung", serif;
  font-size: 14px;
}

.filter-button:hover {
  background-color: #64000d;
}

.filter-button:focus {
  outline: none;
}

form {
  margin-right: 20px;
}

input[type="text"] {
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffecec;
  color: #370003;
  border: none;
  font-size: 14px;
}

input[type="text"]:focus {
  outline: none;
}

.search-button {
  margin-left: -50px;
  margin-top: 0px;
  background-color: none;
}

.material-icons {
  background-color: none;
}

.search-params {
  font-size: 16px;
  text-transform: capitalize;
}

.search-params select {
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #ffecec;
  color: #370003;
  margin: 0 5px;
}

.search-fields {
  display: flex;
}
