/* TODO add some general header styles */

.header {
    margin-left: 160px;
    padding: 10px;
    border-bottom: solid 1px black;
}

.header.collapsed{
    margin-left: 0px;
}

.header.expanded{
    margin-left: 160px;
}