/* TODO general sidebar styles */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 160px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-right: 1px solid black;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
}

/* TODO expanded styles */
.sidebar.expanded {
    /* width: ??? */
}

/* TODO collapsed styles */
.sidebar.collapsed {
    display: none;
}