/* TODO general sidebar styles */
* {
  box-sizing: border-box;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 120px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #930416; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-right: 1px solid black;
  padding: 10px; /* Place content 60px from the top */
}

/* TODO expanded styles */
.sidebar.expanded {
  width: 160px; /* equal to left-margin of header */
}

/* TODO collapsed styles */
.sidebar.collapsed {
  display: none;
}

.radio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.radio-box input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-box label {
  width: 119px;
  text-align: center;
  margin-bottom: 10px;
  display: block;
  background-color: #64000d;
  color: #ffecec;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.radio-box label:hover {
  background-color: #a32927;
}

.radio-box input[type="radio"]:checked + label {
  background-color: #eab64d;
  color: #370003;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
}

/* Styles for the paging buttons */
.pagination {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination p {
  font-size: 14px;
  color: #ffecec;
  margin: 0;
}

a.page {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 0px;
  width: 18px;
  border-radius: 50%;
  color: #ffecec;
  background-color: #64000d;
}

a.page:hover {
  background-color: #a32927;
}

.round {
}

/****** STYLES FOR RESULTS PER PAGE INPUT */
.result-number {
  padding: 10px;
}

.result-number p {
  font-size: 14px;
  color: #ffecec;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
}

.result-number input {
  width: 100%;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #370003;
  background-color: #ffecec;
}
